@model AgencyMAnagmentSystem.Models.Contrat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contrat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaidId" class="control-label"></label>
                <select asp-for="MaidId" class="form-control" asp-items="ViewBag.MaidId"></select>
                <span asp-validation-for="MaidId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentsId" class="control-label"></label>
                <select asp-for="AgentsId" class="form-control" asp-items="ViewBag.AgentsId"></select>
                <span asp-validation-for="AgentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer_Name" class="control-label"></label>
                <input asp-for="Employer_Name" class="form-control" />
                <span asp-validation-for="Employer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer_City" class="control-label"></label>
                <input asp-for="Employer_City" class="form-control" />
                <span asp-validation-for="Employer_City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="National_Id" class="control-label"></label>
                <input asp-for="National_Id" class="form-control" />
                <span asp-validation-for="National_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer_Telephone" class="control-label"></label>
                <input asp-for="Employer_Telephone" class="form-control" />
                <span asp-validation-for="Employer_Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer_email" class="control-label"></label>
                <input asp-for="Employer_email" class="form-control" />
                <span asp-validation-for="Employer_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
